{erl_opts, [debug_info]}.
{deps,
 [
  {riakc, ".*",
   {git, "git://github.com/cjimison/riak-erlang-client", {branch, "1.4"}}},
  {poolboy, ".*",
   {git, "git://github.com/cjimison/poolboy", {branch, "master"}}},
  {parse_trans, ".*",
   {git, "git://github.com/esl/parse_trans.git", {branch, "master"}}}
 ]}.
{cover_enabled, true}.
